@import "../../cu_omega/scss/modules/_global.scss";
@import "../../cu_omega/scss/modules/_colors.scss";



body {
  background-color: $bg_dark1;
  
  padding-bottom: 20px;
}
.layout-boxed {
  background-color: #333;
    #page {
    width:960px;
    margin: 20px auto;
    //@include rgbshadow(0,0,3px,#ddd);
    @include rgbashadow(0,0,10px,#000, .25);
    @include rounded($radius: 5px);
    overflow: hidden;
  }
}

.layout-wide #backstretch {
  display: none;
}
.banner-black  {
  #zone-branding-wrapper {
    background-color: #000;
  }
  #zone-secondary-menu-wrapper {
    background-color: #000;
    color: lighten($gray, 15%);
    .secondary-navigation {
      background-color: $cugold;
    }
    a {
      display: inline-block;
    }
    a:link,
    a:visited {
      color: #000;
    }
    a:hover,
    a:focus,
    a.active,
    a.active-trail {
      color:#fff;
      background-color: #444;
    }
  }
}


#zone-menu-wrapper {
  background-color: #fff;
}
#zone-menu {
  #tablet-menu-toggle {
    a {
      line-height: 20px;
      padding: 0;
    }
    a:after {
      content: none !important;
      border: none !important;
    }
  }
  #region-menu {
    width:auto;
    margin: 0 10px;
    float: none;
    display: block;
    
  }
  a {
    color:#333;
    font-weight: 600;
    line-height: 60px;
    position: relative;
    &:hover {
      
    }
  }
  a:after {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 0 0 10px;
    width: 100%;
    width: calc(100% - 20px);
    content: '.';
    color: transparent !important;
    background: transparent;
    height: 3px !important;
  }
  a.active:after,
  a.active-trail:after,
  a:hover:after {
   
    
    background-color:$cugold !important;
   
  }
  a#home-link {
    color:#363636;
    background-color: transparent;
  }
  a#home-link:after {
    background: transparent !important;
  }
}
ul#action-menu a {
  line-height: 20px;
  margin:20px 0 20px 10px;
}
#section-content {
  background-color: #fff;
}
#zone-intro,
#zone-slider-wrapper {
  background-color: #232323;
}

.page-title-wrapper {
  padding-top:20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
  color:#363636;
  background-size: cover;
  background-position: center center;
  a:link,
  a:visited {
    color:#363636;
  }
  h1 {
    //font-size: 50px;
    margin: 0 0 10px 0;
    padding: 0;
    //color: $text_white;
  }
  h1.long-title {
    font-size: 38px;
  }
}
#page_title {
  padding: 20px;
}
#page-title-image-wrapper {
  margin-bottom: 0px;
}
h1#page-title-image-title {
  
}
#page-title-image {
  padding-top: 60px !important;
  padding-right:0 !important;
  padding-left:0 !important;
}
@media screen and (min-width: 480px) {
  #page-title-image {
    padding-top: 120px !important;
    padding-right:0 !important;
    padding-left:0 !important;
  }
}

.page-title-image-background-white #page-title-image h1 {
  color: #fff;
  background-color: $bg_dark2;
}
.breadcrumb {
  display: inline-block;
  color:#000;
  .breadcumb-divider {
    display: none;
  }
  a {
    display: inline-block;
    background-color: #fff;
    color:#707070;
    padding:3px 10px;
  }
  .current-crumb {
    display: inline-block;
    background-color: $cugold;
    padding: 3px 10px 3px 20px;
    background-image: url(../images/breadcrumb-arrow.png);
    background-position: left center;
    background-repeat: no-repeat;
    span1 {
      line-height: 0px;
      display: inline-block;
      background-image: url(../images/breadcrumb-arrow.png);
      background-position: center center;
      background-repeat: no-repeat;
      width:20px;
      padding:0px 0;
      height:20px;
    }
  }
}
#zone-after-content-2-wrapper {
  background-color: #f4f4f4;
  padding-top:20px;
}
#section-footer {
  background-color: #fff;
}
#zone-site-information-wrapper {
  color:#fff;
}
#zone-site-information-wrapper a,
#zone-site-information-wrapper a.active,
#zone-site-information-wrapper a.active-trail {
  color:$cugold;

  &:hover {
    color:#fff;
  }
}
#zone-footer-wrapper {
  padding-top: 20px;
}
#zone-site-information-wrapper {
  background-color: $bg_dark1;
}

#footer-links-wrapper {
  padding: 15px 0;
}

// Subnav
$defaultFG: #656565;
$hoverFG: #202020;
$activeBG: #333;
$activeFG: #fff;
$border: #e7e7e7;

#block-menu-block-site-navigation-menus-1,
#block-menu-block-site-navigation-menus-2,
#block-menu-block-site-navigation-menus-3,
#section-navigation {
  
  $indent: 10px;

  .menu-block-wrapper {
    font-weight: 500;
    border-bottom: 1px solid $border;
  }
  ul.menu a {
    padding:10px;
    border:1px solid $border;
    margin-bottom: -1px;
    color:$defaultFG;
    line-height: 120%;
    &:hover,
    &:focus {
      background-color: $border;
      color:$hoverFG;
    }
    &.active-trail {
      border-bottom: none;
    }
    &.active {
      color:$activeFG;
      background-color: $activeBG;
      font-weight: 500 !important;
      border:none;
      border-right: 4px solid $cugold;
    }
  }
  li.active-trail {
    border-left:3px solid $activeBG;
    
    a {
      border-left-color: $activeBG;
    }
  }
  li.active-trail > a {

  }
  li.active-trail li {
    border:none;
  }
  ul.menu ul.menu a {
    padding-left: $indent * 2;
    font-size: 90%;
    padding-top:7px;
    padding-bottom: 7px;
    border-top: none;
    border-bottom: none;
    font-weight: normal;
  }
  ul.menu ul.menu ul.menu a {
    padding-left: $indent * 3;
  }
  ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 4;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 5;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 6;
  }
}

#block-menu-block-site-navigation-menus-3 h2.block-title {
  font-size: 100%;
  line-height: 120%;
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding:10px;
    background-color: $activeBG;
    color:$activeFG;
    font-weight: 600;
  }
}
#block-menu-block-site-navigation-menus-1 h2.block-title {
  margin:0;
  padding: 5px 10px;
  background-color: $border;
}
